* {
	background-color: #A9B094;
}

body {
    text-align: center;
}

canvas {
	/*position: relative;*/
	display: block;
	margin: 0 auto;
}
.midspace {
	background-color: green;
	min-height: 100px;

}


.char {
	position: relative;
}